<div class="row" *ngIf="visaqiuzvaltop">
  <div class="col-6">
    <h3>Detta är den nya applikationen</h3>
  </div>
  <div class="col-6 text-right">
    Välj Quiz:
    <select [(ngModel)]="quizName" (change)="loadQuiz(quizName)">
      <option *ngFor="let quiz of quizes" [value]="quiz.id">{{quiz.name}}</option>
    </select>
  </div>
</div>
<div id="quiz">
  <h2 class="text-center font-weight-normal">{{quiz.name}}</h2>
  <h3 *ngIf="visamainscore">Mainscore= {{mainscore}}</h3>
  

  <div *ngIf="mode=='quiz' && quiz">
    <hr />
    <div *ngFor="let question of filteredQuestions;">
      <div class="badge badge-info">Fråga {{pager.index + 1}} av {{pager.count}}.</div>
      <div *ngIf="config.showClock" class="badge badge-info float-right">Tid: {{ellapsedTime}} / {{duration}}</div>
      <h3 class="font-weight-normal">{{pager.index + 1}}.
        <span [innerHTML]="question.name"></span>
      </h3>
      <div class="row text-left options">
        <div class="col-6" *ngFor="let option of question.options">
          <div class="option"><button id="{{option.id}}" type="button" class="btn btn-lg btn-block" [ngClass]="{'btn-primary' : option.selected !=true,  'btn-success' : option.selected ==true }" (click)="onClick(question, option);" >{{option.name}}</button>
            
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="text-center" *ngIf="config.showPager">
      <hr />
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">Start</button>
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Föregående</button>
      <button class="btn btn-primary" (click)="goTo(pager.index + 1);">Nästa</button>
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Sist</button>
      <!-- <pagination  direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination> -->
    </div>
  </div>

  <div class="row text-center" *ngIf="mode=='review'">
    <div class="col-4 cursor-pointer" *ngFor="let question of quiz.questions; let index = index;">
      <div (click)="goTo(index)" class="p-3 mb-2 {{ isAnswered(question) == 'Answered'? 'bg-info': 'bg-warning' }}">{{index + 1}}. {{ isAnswered(question) }}</div>
    </div>
  </div>
  <div class="result" *ngIf="mode=='result'">
    <h2>Quiz Resultat</h2>
    <div *ngFor="let question of quiz.questions; let index = index">
      <div class="result-question">
        <h5>{{index + 1}}. {{question.name}}</h5>
        <div class="row">
          <div class="col-6" *ngFor="let Option of question.options">
            <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" /> {{Option.name}}
          </div>
        </div>
        <div class="p-1 m-2 alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Ditt svar är {{isCorrect(question)}}.</div>
      </div>
    </div>
    <h4 class="alert alert-info text-center">Du kan stänga fönstret nu</h4>
  </div>
  <hr />
  <div *ngIf="mode!='result' && show==true">
    <button class="btn btn-warning" (click)="mode = 'quiz'">Frågorna</button>
    <button class="btn btn-info" (click)="mode = 'review'">Överblick</button>
    <button class="btn btn-primary" (click)="onSubmit();">Skicka in quiz</button>
  </div>

  <div class="result" *ngIf="mode=='1800tal'">
    <h2>{{epoktext}}</h2>
    
    
    <button class="btn btn-warning" (click)="restart()">Börja om</button>
  </div>

</div>